 <!-- SECCION S O B R E M I -->
 <section id="sobremi">
    <div class="contenedor-foto">
        <img src="../../../assets/perfil.jpg" alt="">
    </div>
    <div class="sobremi">
        <p class="titulo-seccion">Sobre Mi</p>
        <h2>Hola, Soy <span id="nombre">{{persona.nombre}}</span> </h2>
        <h3>Desarrollador Web</h3>
        <p>Actualmente realizo el curso de programacion "Argentina Programa 4.0" estudiante de la licenciatura en sistemas de la facultad de Buenos Aires y egresado de la Escuela Superior de Comercio Carlos Pellegrini</p>
        <p>Entusiasta por la tecnologia y la computación e interes en la seguridad informatica</p>
        <a href="#">Redirigir al  CV</a>
    </div>
</section>