<!-- SECCION PORTAFOLIO -->
<section id="portfolio">
    <h3 class="titulo-seccion">Mis Proyectos</h3>
    <div class="fila">
        <div class="pro1">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        </div>
        <div class="pro2">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        </div>
        <div class="pro3">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        </div>
    </div>
    <div class="fila">
        <div class="pro4">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
            </div>
        </div>
        <div class="pro5">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        </div>
        <div class="pro6">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        </div>
    </div>
    <div class="fila">
        <div class="pro7">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        </div>
        <div class="pro8">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        </div>
        <div class="pro9">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../.././../assets/proyectovacio.jpg" alt="">
            <div class="info">
                <h4>Descripcion Proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        </div>
    </div>
</section>