  <!-- SECCION INICIO -->
  <section id="inicio">
    <div class="contenido">
        <header>
            <div class="contenido-header">
                <h1>/MS/</h1>
                <nav id="nav" class="">
                    <ul id="links">
                        <li><a href="#inicio" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                        <li><a href="#sobremi" onclick="seleccionar(this)">SOBRE MI</a></li>
                        <li><a href="#servicios" onclick="seleccionar(this)">SERVICIOS</a></li>
                        <li><a href="#portfolio" onclick="seleccionar(this)">PORTFOLIO</a></li>
                        <li><a href="#contacto" onclick="seleccionar(this)">CONTACTO</a></li>
                    </ul>
                </nav>

                <!-- Icono del menu responsive -->
                <div id="icono-nav" onclick="responsiveMenu()">
                    <i class="fa-solid fa-bars"></i>
                </div>


                <div class="redes">
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                </div>
                <div class="ingreso">
                    <button>Ingreso administrador</button>
                </div>
            </div>
        
        <div class="presentacion">
            <p class="bienvenida">Bienvenidos</p>
            <h2>Soy <span id="nombre">{{persona.nombre}}</span></h2>
            <p class="descripcion">Estudiante de ingenieria en sistemas y perito mercantil con bachiller comercial. </p>
            <a href="#portfolio">Ir a Portafolio</a>
        </div>
        </header>

    </div>
</section>