 <!-- SECCTION C O N T A C T O -->
 <section id="contacto">
    <h3 class="titulo-seccion">Contactame ahora</h3>
    <div class="contenedor-form">
        <form action="" method="post">
            <div class="fila mitad">
                <input type="text" name="nombre" placeholder="Nombre Completo *" class="input-mitad">
                <input type="email" name="email" placeholder="Dirección de Email" class="input-mitad">
            </div>
            <div class="fila">
                <input type="text" name="tema" placeholder="Tema..." class="input-full">
            </div>
            <div class="fila">
                <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Tu Mensaje..." class="input-full"></textarea>
            </div>

            <input type="submit" value="Enviar Mensaje" class="btn-enviar">
        </form>
    </div>
</section>